Repository duniter/silkaj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

.gitlab-ci.yml:

stages:
  - checks
  - tests
  - publish
  - coverage

variables:
  DOCKER_IMAGE: "registry.duniter.org/docker/python3/poetry"
  PYTHON_VERSION: "3.7"

image: $DOCKER_IMAGE/$PYTHON_VERSION:latest

.code_changes:
  rules:
    - changes:
      - silkaj/*.py
      - tests/*.py

.changes:
  rules:
    - changes:
      - silkaj/*.py
      - tests/*.py
      - .gitlab-ci.yml
      - pyproject.toml
      - poetry.lock

build:
  extends: .changes
  stage: checks
  script:
    - poetry build

format:
  extends: .code_changes
  stage: checks
  image: $DOCKER_IMAGE/3.8:latest
  script:
    - black --check silkaj tests

.tests:
  extends: .changes
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
    - poetry install
    - poetry run pytest

tests-3.6:
  extends: .tests
  tags: [poetry-56]
  variables:
    PYTHON_VERSION: "3.6"

tests-3.7-coverage:
  extends: .tests
  tags: [poetry-78]
  script:
    - poetry install
    - poetry run pytest --cov silkaj --cov-report html:cov_html
    - poetry run coverage-badge -o cov_html/coverage.svg
  artifacts:
    paths:
      - cov_html
    expire_in: 2 days

tests-3.8:
  extends: .tests
  tags: [poetry-78]
  variables:
    PYTHON_VERSION: "3.8"

pypi_test:
  stage: publish
  rules:
    - if: $CI_COMMIT_TAG
      when: manual
  script:
    - poetry config repositories.pypi_test https://test.pypi.org/legacy/
    - poetry publish --build --username $PYPI_TEST_LOGIN --password $PYPI_TEST_PASSWORD --repository pypi_test

pypi:
  stage: publish
  rules:
    - if: $CI_COMMIT_TAG
      when: manual
  script:
    - poetry publish --build --username $PYPI_LOGIN --password $PYPI_PASSWORD

pages:
  extends: .changes
  needs: [tests-3.7-coverage]
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"
  stage: coverage
  script: mv cov_html/ public/
  artifacts:
    paths:
      - public
    expire_in: 2 days

[enh] #300 : Display corresponding uid if found
  silkaj/money.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #377 money.py : document show_amount_from_pubkey() change name of variables to be clearer
  silkaj/money.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

[dep] Bump DuniterPy to v0.62.0
  poetry.lock
  pyproject.toml
Due: build, tests-3.6, tests-3.7-coverage, tests-3.8

[dep] Update dependencies
  poetry.lock
Due: build, tests-3.6, tests-3.7-coverage, tests-3.8

[test] #363 : make patched_get_source compute and return balance
  tests/patched/money.py
Due: none

[feat] #281 : modify check_transaction_values() to check the number of outputs. * add case in related tests
  silkaj/tx.py
  tests/test_unit_tx.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

#378: Create and use generic send_doc_confirmation()
  silkaj/cert.py
  silkaj/membership.py
  silkaj/tui.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

#314: cert: Implement display option
  silkaj/cert.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

#314: Add global --display/-d and --dry-run/-n options
  silkaj/cli.py
  tests/test_cli.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

#328: Import directly tui module
  silkaj/cert.py
  silkaj/membership.py
  silkaj/tui.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

#314: membership: Implement display option
  silkaj/membership.py
  tests/test_membership.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

#328: cert/tx: Import top-level Click module
  silkaj/cert.py
  silkaj/tx.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

cert: Split pre-checks and docs gen into f()
  silkaj/cert.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

#172: Refactor tx confirmation
  silkaj/tx.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #172: Rename transaction_confirmation to gen_confirmation_table
  silkaj/tx.py
  tests/patched/tx.py
  tests/test_tx.py
  tests/test_unit_tx.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] tx: monkeypatch.setattr(module, method)
  tests/test_tx.py
  tests/test_unit_tx.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] Add v0.9.0rc changelog
  CHANGELOG.md
Due: none

v0.9.0rc
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

Sart v0.10.0 development cycle
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

Start v0.10.0 development cycle
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

[ref] #385: Refactor id command using exclusively /wot/lookup:
  silkaj/wot.py
  tests/test_end_to_end.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

[ci] #388: Disable manual triggers, package stage first
  .gitlab-ci.yml
Due: build, tests-3.6, tests-3.7-coverage, tests-3.8

[ci] #388: Add images generation build automation
  .gitlab-ci.yml
  release/pip-image
  release/poetry-image
Due: build, tests-3.6, tests-3.7-coverage, tests-3.8

[fix] #377: Fix undefined variable in case of 'Total' label
  silkaj/money.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8

Introduce release and dev channels and jobs
  .gitlab-ci.yml
  image/pip
  image/poetry
Due: build, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] Add v0.9.0 changelog
  CHANGELOG.md
Due: none

[doc] Improve v0.9.0rc announcement
  release_notes/v0.9.0rc.md
Due: none

[doc] enhance v0.9.0rc testing call with manual tests
  release_notes/v0.9.0rc.md
Due: none

[doc] Add v0.9.0rc testing call
  release_notes/v0.9.0rc.md
Due: none

[doc] Add v0.9.0 announcement
  release_notes/v0.9.md
Due: none

v0.9.0
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.6, tests-3.7-coverage, tests-3.8
